*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section.barra {
  width: 100%;

  background-color: black;
  position: fixed;
}
section.barra nav li {
   margin: auto;
    display: inline-block;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

section.inicial{
  margin-left: auto;
  padding-left: 20px;
  background: linear-gradient(to right, rgba(250,23,87,1) 0%, rgba(95,15,214,1) 100%);
}

section.inicial article{
  font-size: 30px;
}
