*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background: #f2f2f2;
	font-size: 11px;
    text-decoration: none;
}
/* Navegación Fijada*/
#main-header {
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
/* Logo Barra*/
#logo-header {
	float: left;
	padding: 20px 0 0 20px;
	text-decoration: none;
    font-weight: 500;
    color: white;
    opacity: 0.5;
    transition-duration: .4s;
}
	#logo-header:hover {
		color: #cfcaca;
	}

	#logo-header .site-name {
		display: block;
		font-weight: 500;
		font-size: 1.2em;
	}
/* Navegación Menu */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}

		nav ul li {
			display: inline-block;
			line-height: 50px;
		}

			nav ul li a {
                color: white;
                opacity: 0.5;
				display: block;/*los pongo en bloque*/
				padding: 0 10px;/*separo los menus*/
				text-decoration: none;
                transition-duration: .4s;
			}

				nav ul li a:hover {
					color: #cfcaca;
				}
/* Fondo seccion inicial */
.inicial{
    overflow: hidden;/*oculto debajo de la section generando un crop*/
    height: 500px;
    padding-top: 60px;
    background:
        linear-gradient( to right, rgba(250,22,22,1) 20%, rgba(95,15,214,1) 100%),
        url('../imagenes/fondo.png');
      background-blend-mode: screen, difference;
      background-repeat: repeat;
}

/* texto seccion inicial */
section.inicial div.inicial-texto{
    display: inline-block;
    float: left;
    letter-spacing: 1px;
    color: white;
    font-family: Verdana;
    font-size: 33px;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 10px;

}
section.inicial div.btn{
    display: inline-block;
    width: 100%;
}
/*boton  seccion inicial*/
button {
    margin-left: 5%;
    outline:none;
    height: 40px;
    width: 220px;
    text-align: center;
    border-radius:40px;
    background: rgba(255,255,255,0);
    border: 1px solid;
    color:white;
    letter-spacing:1px;
    font-size: 11px;
    cursor: pointer;
    margin-top: 2%;
    transition-duration: .4s;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}

/*imagen cortada de seccion inicial*/
section.inicial div.crop{
    display: inline-block;
    float: right;
    position: relative;/*posicion relativa para que este dentro del div*/
    right: 50px;
    top: -228px;
}
section.yellow{
    background: rgba(214,176,61,1);
    width: 100%;
    height: 400px;
}
